.cart-drawer {
  height: 100%;
  left: 0;
  pointer-events: inherit;
  visibility: visible;
  position: fixed;
  top: 0;
  transition: all 0.8s cubic-bezier(0.18, 0.71, 0.11, 1);
  width: 100vw;
  z-index: 1000;
}

@media (min-width: 767.99px) {
  .cart-drawer {
    display: flex;
    justify-content: flex-end;
  }
}

.cart-title {
  padding-inline: 0;
  color: var(--color-black);
  font-family: var(--font-sans);
  font-size: 2.1vw;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: center;
  line-height: 110%;
  overflow: hidden;
}
