.heading {
  z-index: 3;
  outline-offset: 0px;
  color: var(--color-secondary);
  text-transform: uppercase;
  background-color: var(--color-moka);
  border: 0 solid #000;
  outline: 0.5vw solid #3b393d;
  justify-content: center;
  align-items: center;
  margin-block: 0 1vw;
  padding: 0 1.2vw 0.2vw;
  font-size: 7.8vw;
  font-weight: 500;
  line-height: 9vw;
  display: inline-block;
  position: relative;
  top: auto;
  transform: rotate(3deg);
}

.heading-1 {
  outline-color: var(--color-black);
  outline-offset: -1px;
  perspective-origin: 0%;
  transform-origin: 0%;
  display: flex;
  top: 3.9vw;
  width: auto;
  overflow: hidden;
}

.heading-2 {
  z-index: 2;
  outline-color: var(--color-black);
  perspective-origin: 100%;
  transform-origin: 100%;
  color: #2e2d2f;
  background-color: var(--color-secondary);
  justify-content: center;
  align-items: center;
  display: flex;
  top: 2vw;
  width: auto;
  overflow: hidden;
  transform: rotate(-1deg);
}

.heading-3 {
  z-index: 4;
  outline-color: var(--color-black);
  outline-offset: -1px;
  perspective-origin: 0%;
  transform-origin: 0%;
  color: #2e2d2f;
  background-color: var(--color-reddish-brown);
  justify-content: center;
  align-items: center;
  display: flex;
  top: -0.5vw;
  width: auto;
  overflow: hidden;
  transform: rotate(1deg);
}

.heading-4 {
  z-index: 1;
  outline-color: var(--color-black);
  perspective-origin: 100%;
  transform-origin: 100%;
  color: #2e2d2f;
  background-color: var(--color-accent-secondary);
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 2.5vw;
  width: auto;
  overflow: hidden;
  transform: rotate(-5deg);
}

.heading-text {
  text-align: center;
  letter-spacing: -0.4vw;
  flex: none;
  padding: 0 1.2vw 1vw;
  font-family: Antonio, sans-serif;
  font-weight: 700;
  font-size: 13vw;
  line-height: 110%;
}
@media screen and (min-width: 480px) {
  .heading-text {
    font-size: 11vw;
    line-height: 120%;
  }
}
@media screen and (min-width: 768px) {
  .heading-text {
    font-size: 8vw;
    line-height: 110%;
  }
}
