.footer {
  background-color: var(--color-black);
  margin-top: 0;
  padding-bottom: 40px;
  display: block;
  position: relative;
  bottom: auto;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .footer {
    padding-bottom: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 0;
    bottom: auto;
  }
}

.footer-content-container {
  z-index: 2;
  padding-top: 60px;
  position: static;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .footer-content-container {
    padding-top: 10vw;
  }
}

.heading-teg-wrapper {
  z-index: 3;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
  margin-block-start: 5vw;
}

.header-tag {
  color: var(--color-secondary);
  letter-spacing: -0.35vw;
  font-family: Antonio, sans-serif;
  font-weight: 700;
  line-height: 9vw;
  font-size: 12vw;
  line-height: 110%;
}
@media screen and (min-width: 992px) {
  .header-tag {
    font-size: unset;
    line-height: 9vw;
  }
}

.footer-grid {
  display: grid;
  grid-auto-columns: 1fr;
  z-index: 5;
  grid-column-gap: 3.5vw;
  grid-row-gap: 10vw;
  grid-template-rows: auto auto auto auto;
  margin-top: 12vw;
  padding-bottom: 2vw;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}
@media screen and (min-width: 480px) {
  .footer-grid {
    padding-left: 2vw;
    padding-right: 2vw;
    grid-template-rows: auto auto auto;
  }
}
@media screen and (min-width: 768px) {
  .footer-grid {
    grid-template-columns: auto auto auto 1fr 1fr;
    margin-top: 150px;
    grid-template-rows: unset;
  }
}
@media screen and (min-width: 992px) {
  .footer-grid {
    grid-template-columns: auto auto auto 1fr 1fr;
    margin-top: 10vw;
    grid-template-rows: unset;
  }
}
@media screen and (min-width: 480px) and (max-width: 991px) {
  .footer-grid {
    grid-template-columns: auto auto auto;
    margin-top: 150px;
  }
}

.grid-column {
  flex-flow: column;
  display: flex;
}

@media screen and (max-width: 991px) {
  .grid-spacer {
    grid-area: 1 / 5 / 2 / 6;
    display: none;
  }
}

.footer-link {
  color: var(--color-secondary);
  margin-bottom: 12px;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  transition: all 0.2s;
}
@media screen and (min-width: 768px) {
  .footer-link {
    font-size: 1.04vw;
    margin-bottom: 0.6vw;
  }
}
@media screen and (min-width: 992px) {
  .footer-link {
    font-size: 1.04vw;
  }
}

.copyright-wrapper {
  grid-area: 4 / 1 / 5 / 4;
  justify-self: center;
}
@media screen and (min-width: 480px) {
  .copyright-wrapper {
    grid-area: 3 / 1 / 4 / 2;
  }
}
@media screen and (min-width: 768px) {
  .copyright-wrapper {
    grid-area: 3 / 1 / 4 / 3;
  }
}
@media screen and (min-width: 992px) {
  .copyright-wrapper {
    grid-area: 2 / 1 / 3 / 4;
  }
}

.copyright-text {
  opacity: 0.5;
  color: var(--color-secondary);
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 115%;
}
@media screen and (min-width: 768px) {
  .copyright-text {
    font-size: 1.04vw;
  }
}
@media screen and (min-width: 992px) {
  .copyright-text {
    font-size: 1.04vw;
  }
}

.policies-wrapper {
  order: -9999;
  grid-area: 3 / 1 / 4 / 4;
  justify-self: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  display: flex;
}
@media screen and (min-width: 480px) {
  .policies-wrapper {
    grid-area: 3 / 2 / 4 / 4;
    justify-self: end;
    order: unset;
    grid-column-gap: unset;
    grid-row-gap: unset;
    flex-flow: unset;
    display: unset;
  }
}
@media screen and (min-width: 768px) {
  .policies-wrapper {
    grid-area: 3 / 3 / 4 / 4;
  }
}
@media screen and (min-width: 992px) {
  .policies-wrapper {
    grid-area: 2 / 5 / 3 / 6;
  }
}

.footer-link-muted {
  color: var(--color-secondary);
  margin-bottom: 12px;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  transition: all 0.2s;
  z-index: 99;
  opacity: 0.5;
  margin-left: 2vw;
  position: relative;
}
@media screen and (min-width: 768px) {
  .footer-link-muted {
    font-size: 1.04vw;
    margin-bottom: 0.6vw;
  }
}
@media screen and (min-width: 992px) {
  .footer-link-muted {
    font-size: 1.04vw;
  }
}
