.logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
  width: 25vw;
  height: 25vw;
  filter: drop-shadow(1px 2px 0px #c1dade); /* Mimic foam shadow */
}

.logoFoam {
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 2; /* On top of text */
  box-shadow:
    inset -2px -2px 1px 0px #c7eff7,
    1px 2px 0px 0px #c1dade;
}

.lf1 {
  width: 3.5vw;
  height: 3.5vw;
  bottom: -1%;
  left: 35%;
}

.lf2 {
  width: 3vw;
  height: 3vw;
  bottom: -1%;
  left: 42%;
}

.lf3 {
  width: 2.5vw;
  height: 2.5vw;
  bottom: -1%;
  left: 48%;
}

.lf4 {
  width: 2vw;
  height: 2vw;
  bottom: -1%;
  right: 43%;
}

.lf5 {
  width: 3vw;
  height: 3vw;
  bottom: -1%;
  right: 37%;
}

.foam {
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  box-shadow:
    inset -2px -2px 1px 0px #c7eff7,
    1px 2px 0px 0px #c1dade;
}

.f1 {
  width: 1.8vw;
  height: 1.8vw;
  bottom: 5%;
  left: 37%;
}

.f2 {
  width: 1.5vw;
  height: 1.5vw;
  bottom: 0%;
  left: 34%;
}

.f3 {
  width: 1vw;
  height: 1vw;
  bottom: 0%;
  left: 41%;
  z-index: 3;
}

.f4 {
  width: 0.8vw;
  height: 0.8vw;
  bottom: 0%;
  left: 47.5%;
  z-index: 3;
}

.f5 {
  width: 0.8vw;
  height: 0.8vw;
  bottom: 3%;
  left: 34.5%;
  z-index: 3;
}

.f6 {
  width: 1.2vw;
  height: 1.2vw;
  bottom: 0%;
  left: 37.5%;
  z-index: 4;
}

.f7 {
  width: 1.2vw;
  height: 1.2vw;
  bottom: 0%;
  left: 41.5%;
}

.f8 {
  width: 1.2vw;
  height: 1.2vw;
  bottom: -1%;
  left: 40.5%;
}

.f9 {
  width: 1.2vw;
  height: 1.2vw;
  bottom: 1%;
  right: 36%;
  left: auto;
}

.f10 {
  width: 0.8vw;
  height: 0.8vw;
  bottom: 0%;
  right: 36.5%;
  left: auto;
}

.f11 {
  width: 1vw;
  height: 1vw;
  bottom: -1%;
  left: 33.5%;
}

.f12 {
  width: 0.8vw;
  height: 0.8vw;
  bottom: -0.5%;
  left: 38.5%;
  z-index: 5;
}

.f13 {
  width: 1.2vw;
  height: 1.2vw;
  bottom: 0%;
  left: 45.5%;
}

.f14 {
  width: 1vw;
  height: 1vw;
  bottom: -1%;
  left: 44%;
  z-index: 3;
}
