.navigation-menu {
  z-index: 200;
  display: block;
  position: sticky;
  top: 0;
  margin-bottom: 0%;
}

.navbar {
  z-index: 201;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: -80px;
  padding-block: 2vw;
  padding-inline: 8px;
  display: flex;
  position: relative;
  top: 0;
  overflow: hidden;
}

/* >=480px */
@media screen and (min-width: 480px) {
  .navbar {
    padding-inline: 2vw;
  }
}

/* >=768px */
@media screen and (min-width: 768px) {
  .navbar {
    height: 7vw;
    margin-bottom: -7vw;
    padding: 2vw;
  }
}

/* >=992px */
@media screen and (min-width: 992px) {
  .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.navbar-logo-link.w--current {
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.navbar-logo-link {
  z-index: 102;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  display: inline-block;
  max-width: 100%;
  position: relative;
}
.navbar-logo-link.ab.w--current {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .navbar-logo-link.ab,
  .navbar-logo-link.ab.w--current {
    position: absolute;
  }
}
@media screen and (min-width: 992px) {
  .navbar-logo-link.ab.w--current {
    position: absolute;
  }
}

.navbar-logo {
  width: 80px;
  max-width: none;
  height: auto;
}
@media screen and (min-width: 768px) {
  .navbar-logo {
    width: 100px;
    height: auto;
  }
}
@media screen and (min-width: 992px) {
  .navbar-logo {
    width: 6vw;
    height: 3vw;
  }
}

.menu-button-wrapper {
  z-index: 9998;
  justify-content: center;
  cursor: pointer;
  justify-self: center;
  align-items: center;
  align-self: center;
  position: absolute;
  inset: 0%;
  height: 3.1vw;
  flex: 0 auto;
  display: none;
  margin: 0 auto;
  isolation: isolate;
}
@media screen and (min-width: 992px) {
  .menu-button-wrapper {
    display: flex;
  }
}

.menu-button {
  z-index: 9999;
  background-color: var(--color-white);
  border-radius: 100vw;
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 3.1vw;
  height: 3.1vw;
  display: flex;
  position: relative;
  padding: 1vw;
}

.menu-button:hover {
  background-color: var(--color-coral-light);
}

.menu-button-line {
  background-color: var(--color-black);
  mix-blend-mode: normal;
  width: 2vw;
  height: 2px;
  margin-bottom: 4px;
}
.menu-button-line-2 {
  mix-blend-mode: normal;
  height: 2px;
  margin-top: 4px;
  margin-bottom: 0;
}

.menu-button-line-mobile {
  width: 16px;
  margin-bottom: 2px;
}
@media screen and (min-width: 480px) {
  .menu-button-line-mobile {
    margin-bottom: 2px;
  }
}
/* @media screen and (min-width: 992px) {
  .menu-button-line-mobile {
  }
} */

.menu-button-line-2-mobile {
  margin-top: 2px;
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .menu-button-line-2-mobile {
    margin-top: 2px;
    margin-bottom: 0;
  }
}
/* @media screen and (min-width: 992px) {
  .menu-button-line-2-mobile {
  }
} */

.menu-cta-buttons-wrapper,
.cta-buttons {
  z-index: 101;
  gap: 0.5vw;
  padding-left: 0%;
  display: none;
  position: relative;
}
.menu-cta-buttons-wrapper {
  display: flex;
}
@media screen and (min-width: 480px) {
  .menu-cta-buttons-wrapper,
  .cta-buttons {
    display: flex;
    z-index: 102;
  }
}
@media screen and (min-width: 768px) {
  .menu-cta-buttons-wrapper,
  .cta-buttons {
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) {
  .menu-cta-buttons-wrapper,
  .cta-buttons {
    justify-content: flex-end;
  }
}

.navbar-logo-transparency-off {
  z-index: 1;
  opacity: 0;
  position: relative;
  display: none;
}
@media screen and (min-width: 480px) {
  .navbar-logo-transparency-off {
    /* Nothing to override for now */
  }
}
@media screen and (min-width: 992px) {
  .navbar-logo-transparency-off {
    opacity: 0;
    display: block;
  }
}

.menu-button-mobile {
  cursor: pointer;
  border-radius: 100vw;
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  display: flex;
  margin: 0;
  background-color: var(--color-white);
}

.menu-button-mobile:hover {
  background-color: var(--color-coral-light);
}

@media screen and (min-width: 480px) {
  .menu-button-mobile {
    width: 56px;
    height: 56px;
    margin-left: 8px;
    display: flex;
  }
}
/* @media screen and (min-width: 768px) {
  .menu-button-mobile {
  }
} */
/* @media screen and (min-width: 992px) {
  .menu-button-mobile {
    display: none;
  }
} */

.menu-buttons-wrapper {
  cursor: pointer;
  border-radius: 100vw;
  flex-flow: column;
  flex: none;
  justify-content: center;
  align-items: center;
  height: 48px;
  display: none;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .menu-buttons-wrapper {
    height: 56px;
    margin-left: 8px;
    display: flex;
    /* background-color: #fef4f1; */
    flex-flow: row;
    gap: 0.5vw;
  }
}

.dropdown,
.mobile-text {
  display: none;
}
@media screen and (min-width: 480px) and (max-width: 991px) {
  .menu-button-abs {
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    /* inset: 0% 0% auto; */
    /* display: block; */
  }
}
@media screen and (max-width: 479px) {
  .menu-button-abs {
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
    /* inset: 0% 0% auto 0; */
    /* display: block; */
  }
}

.navbar-button {
  cursor: pointer;
  color: var(--color-dark-brown);
  letter-spacing: -0.01vw;
  text-transform: uppercase;
  background-color: var(--color-white);
  border-radius: 30vw;
  border: 0;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 16px;
  font-family: Antonio, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  text-decoration: none;
  display: flex;
}

.navbar-button:hover {
  background-color: var(--color-coral-light);
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .navbar-button {
    height: 56px;
    padding: 16px 24px;
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .navbar-button {
    height: 3.1vw;
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    font-size: 1vw;
  }
}

.navbar-icon-button {
  width: 48px;
}
@media screen and (min-width: 768px) {
  .navbar-icon-button {
    width: 56px;
    padding: 16px;
  }
}
@media screen and (min-width: 992px) {
  .navbar-icon-button {
    width: 3.1vw;
    /* padding-left: 1.9vw;
    padding-right: 1.9vw; */
  }
}
