.ingredients-list-wrapper {
  gap: 4px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-block: 2vw;
  width: 100%;
  display: flex;
  z-index: 10;
}
@media screen and (min-width: 480px) {
  .ingredients-list-wrapper {
    gap: 0.75vw;
    margin-block: 24vw 8vw;
    width: auto;
  }
}

.ingredients-list {
  gap: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: wrap;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .ingredients-list {
    gap: 0.5vw;
    justify-content: flex-start;
    flex-flow: column;
    width: auto;
  }
}

.ingredient-group {
  gap: 0.5vw;
  display: flex;
}
@media screen and (min-width: 992px) {
  .ingredient-group {
    max-width: 65vw;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.ingredient-item {
  gap: 4px;
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  border-radius: 200px;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 10px 4px 4px;
  display: flex;
  position: relative;
}
@media screen and (min-width: 480px) {
  .ingredient-item {
    gap: 0.75vw;
    padding: 0.5vw 1.5vw 0.5vw 0.5vw;
  }
}

.ingredient-icon-wrapper {
  border: 2px solid var(--color-black);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
}
@media screen and (min-width: 480px) {
  .ingredient-icon-wrapper {
    width: 5.5vw;
    height: 5.5vw;
  }
}
@media screen and (min-width: 992px) {
  .ingredient-icon-wrapper {
    width: 4vw;
    height: 4vw;
  }
}

.ingredient-icon {
  z-index: 2;
  width: 20px;
  height: 20px;
  position: relative;
}
@media screen and (min-width: 480px) {
  .ingredient-icon {
    width: 3vw;
    height: 3vw;
  }
}
@media screen and (min-width: 992px) {
  .ingredient-icon {
    width: 2vw;
    height: 2vw;
  }
}

.ingredient-icon-circle.is-1 {
  background-color: var(--color-coral);
}
.ingredient-icon-circle.is-2 {
  background-color: var(--color-primary);
}
.ingredient-icon-circle.is-3 {
  background-color: var(--color-accent-secondary);
}
.ingredient-icon-circle.is-4 {
  background-color: var(--color-lavender);
}
.ingredient-icon-circle.is-5 {
  background-color: var(--color-sea-salt-dark);
}
.ingredient-icon-circle.is-6 {
  background-color: var(--color-eucalyptus-light);
}
.ingredient-icon-circle.is-7 {
  background-color: var(--color-yellow-brown);
}
.ingredient-icon-circle {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  opacity: 20%;
  transform: translate3d(0, 0, 0);
}

.ingredient-text {
  color: var(--color-black);
  letter-spacing: -1px;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (min-width: 480px) {
  .ingredient-text {
    font-size: 19px;
    white-space: normal;
  }
}
@media screen and (min-width: 992px) {
  .ingredient-text {
    font-size: 1.75vw;
  }
}
