.ingredients-table-wrapper {
  z-index: 10;
  outline-offset: 0px;
  background-color: var(--color-milk-yellow);
  border-radius: 10vw;
  outline: 0.5vw solid var(--color-milk);
  margin-bottom: 4vw;
  padding: 2vw 4.3vw;
  position: absolute;
}

.grid {
  grid-column-gap: 4.3vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr auto 1fr;
  grid-row-gap: 16px;
  grid-auto-columns: 1fr;
  display: grid;
}

.item-1 {
  grid-area: 1 / 3 / 2 / 4;
}

.item-2 {
  grid-area: 1 / 5 / 2 / 6;
}

.item-3 {
  grid-area: 1 / 7 / 2 / 8;
}

.item-4 {
  grid-area: 1 / 1 / 2 / 2;
}

.item-5 {
  grid-area: 1 / 9 / 2 / 10;
}

.ingredient {
  margin-bottom: 0.8vw;
  color: #6b4518;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 1.04vw;
  font-weight: 400;
  line-height: 115%;
}

.caption {
  margin-bottom: 0.2vw;
  color: #6b4518;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 0.75vw;
  font-weight: 400;
  line-height: 115%;
}

.amount {
  color: #6b4518;
  letter-spacing: -0.05vw;
  font-family: var(--font-sans);
  font-size: 1.9vw;
  font-weight: 700;
  line-height: 105%;
  position: static;
}

.divider {
  background-color: #c28c42;
  width: 1px;
}
