.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #292934;
  z-index: 9999;
}

.outerContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container {
  position: relative;
  padding: 60px 30px 0; /* Remove bottom padding */
  transform-origin: bottom center;
}

.logoWrapper {
  position: absolute;
  bottom: -35px; /* Sit deeper in the hand */
  left: 50%;
  transform: translateX(-50%);
  width: 300px; /* approximates width of logic */
  height: 100px;
  z-index: 1; /* Behind hand (z-index 4) */
}

.logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  fill: rgba(255, 255, 255, 1);
  stroke: rgba(255, 255, 255, 1);
  width: 110%;
  filter: drop-shadow(1px 2px 0px #c1dade); /* Mimic foam shadow */
}

.logoFoam {
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 2; /* On top of text */
  box-shadow:
    inset -2px -2px 1px 0px #c7eff7,
    1px 2px 0px 0px #c1dade;
}

.lf1 {
  width: 15px;
  height: 15px;
  top: 30px;
  left: 45px;
}

.lf2 {
  width: 25px;
  height: 25px;
  top: 15px;
  left: 25px;
}

.lf3 {
  width: 10px;
  height: 10px;
  top: 45px;
  left: 35px;
}

.deco {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
}

.d1 {
  top: 130px;
  left: -68px;
}

.d2 {
  top: -6px;
  left: -38px;
}

.d3 {
  width: 15px;
  height: 15px;
  top: -80px;
  left: -93px;
}

.d4 {
  width: 5px;
  height: 5px;
  top: -60px;
  left: 0px;
  background-color: rgba(255, 255, 255, 1);
}

.d5 {
  width: 5px;
  height: 5px;
  top: -161px;
  left: 41px;
}

.d6 {
  top: -146px;
  right: 2px;
}

.d7 {
  width: 15px;
  height: 15px;
  top: -53px;
  right: -25px;
}

.d8 {
  top: 54px;
  right: -98px;
}

.d9 {
  width: 5px;
  height: 5px;
  top: 124px;
  right: -94px;
}

.d10 {
  width: 5px;
  height: 5px;
  top: -83px;
  right: -134px;
}

.bathtub-body {
  position: relative;
  width: 300px;
  height: 25px; /* Reduced height for just the hand/rim */
  font-size: 0;
  /* Removed pseudo-elements for body */
}

/* Removed bathtub-body-s */

.foam {
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 5;
  box-shadow:
    inset -2px -2px 1px 0px #c7eff7,
    1px 2px 0px 0px #c1dade;
}

.f1 {
  width: 20px;
  height: 20px;
  top: -10px;
  left: 10px; /* Adjusted */
}

.f2 {
  width: 30px;
  height: 30px;
  top: -20px;
  left: 22px; /* Adjusted */
}

.f3 {
  width: 20px;
  height: 20px;
  top: -54px;
  left: 156px;
  z-index: 3;
}

.f4 {
  width: 20px;
  height: 20px;
  top: -24px;
  left: 171px;
  z-index: 3;
}

.f5 {
  width: 20px;
  height: 20px;
  top: -3px;
  right: 80px; /* Adjusted to right */
  left: auto;
}

.f6 {
  width: 40px;
  height: 40px;
  top: -27px;
  right: 40px; /* Adjusted */
  left: auto;
  z-index: 4;
}

.f7 {
  width: 40px;
  height: 40px;
  top: -20px;
  right: 10px; /* Adjusted */
  left: auto;
}

.f8 {
  width: 40px;
  height: 40px;
  top: -40px;
  right: 0px; /* Adjusted */
  left: auto;
}

.f9 {
  width: 40px;
  height: 40px;
  top: -18px;
  right: -20px; /* Adjusted */
  left: auto;
}

.f10 {
  width: 20px;
  height: 20px;
  top: -17px;
  right: 20px; /* Adjusted */
  left: auto;
}

.bathtub-hand {
  width: 100%; /* Fit container */
  height: 25px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px; /* Rounded pill shape */
  box-shadow:
    inset 0px -3px 5px 1px #c7eff7,
    0px 2px 1px 1px #c1dade;
  z-index: 4;
}

/* Removed feet and shadows classes */

.bubble {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
}

.bubble-left {
  top: 48px;
  left: 40px;
}

.bubble-right {
  top: 44px;
  left: 300px;
}

.bubble2,
.bubble5,
.bubble8,
.bubble9 {
  width: 10px;
  height: 10px;
}

.bubble3,
.bubble7 {
  width: 15px;
  height: 15px;
}
