.collection-item {
  width: 90%;
  height: auto;
  margin-inline: auto;
  margin-block-end: 15vw;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .collection-item {
    margin-block-end: 18vw;
  }
}
@media screen and (min-width: 992px) {
  .collection-item {
    width: auto;
    margin-block-end: 0;
    justify-self: center;
  }
  .collection-item.is-home-page {
    margin-inline-end: 15vw;
  }
  .collection-item.is-home-page:last-child {
    margin-inline-end: 10vw;
  }
}

.collection-item.is-home-page:nth-child(odd) {
  transform: rotate(0);
}

@media screen and (min-width: 992px) {
  .collection-item.is-home-page:nth-child(odd) {
    transform: rotate(-8deg);
  }
}

.collection-item.is-home-page:nth-child(2n) {
  transform: rotate(0);
}
@media screen and (min-width: 768px) {
  .collection-item.is-home-page:nth-child(4n) {
    margin-block-end: 8vw;
  }
}
@media screen and (min-width: 992px) {
  .collection-item.is-home-page:nth-child(3) {
    margin-inline-start: 15vw;
  }
}

.card {
  z-index: 2;
  width: 100vw;
  max-width: 100%;
  height: auto;
  min-height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: static;
  transform: rotate(0);
  padding-block: 6vw;
  padding-inline: 5vw;
  border-radius: 3vw;
}
@media screen and (min-width: 768px) {
  .card {
    width: 100%;
    padding-inline: 3vw;
  }
}
@media screen and (min-width: 992px) {
  .card {
    width: 42vw;
    padding-block: 3vw;
    position: relative;
    transform: rotate(0);
  }
}
@media screen and (min-width: 1600px) {
  .card {
    width: 36vw;
  }
}

.card-soap-bar {
  z-index: 4;
  width: 55vw !important;
  margin-inline: auto;
  position: relative;
  inset: auto 0% 0%;
  margin-block-end: 2rem;
  transform: scale(1.4) translateY(-15%) rotate(5deg);
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .card-soap-bar {
    transform: scale(1.3) translateY(-15%) rotate(5deg);
  }
}
@media screen and (min-width: 992px) {
  .card-soap-bar {
    width: 20vw !important;
    transform: scale(1) translateY(0) rotate(0deg);
  }
}
@media screen and (min-width: 1600px) {
  .card-soap-bar {
    width: 16vw !important;
  }
}

.card-additional {
  z-index: 3;
  width: 95vw !important;
  max-width: 200% !important;
  margin-inline: auto;
  position: absolute;
  inset: -5vw 0% 0%;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .card-additional {
    width: 105vw !important;
  }
}
@media screen and (min-width: 992px) {
  .card-additional {
    opacity: 0;
    width: 90% !important;
  }
}

@media screen and (hover: hover) {
  .card.is-home-page:hover .card-soap-bar {
    transform: scale(1.4) translateY(-15%) rotate(5deg);
  }
  .card.is-home-page:hover .card-additional {
    opacity: 1;
    transform: scale(1.2) translateY(-5%);
  }
}

.card-heading {
  z-index: 5;
  color: var(--color-secondary);
  letter-spacing: -0.1vw;
  text-transform: uppercase;
  margin-left: 0;
  font-family: var(--font-sans);
  font-size: 7vw;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  bottom: 16px;
  left: 16px;
}
@media screen and (min-width: 768px) {
  .card-heading {
    font-size: 4.8vw;
    bottom: 50px;
    left: 50px;
    max-width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .card-heading {
    font-size: 3.1vw;
    max-width: 100%;
  }
}

.add-to-cart-button {
  z-index: 5;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  width: auto;
  display: flex;
  background-color: var(--color-black);
  color: var(--color-secondary);
  padding-inline: 5vw;
  padding-block: 4vw;
  border-radius: 9999px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4.2vw;
  line-height: 105%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  margin-block-start: calc(var(--spacing) * 6);
}
.add-to-cart-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-black);
}
@media screen and (min-width: 768px) {
  .add-to-cart-button {
    font-size: 3.4vw;
    padding: 5.5vw 2.1vw;
    margin-block-start: 0;
  }
}
@media screen and (min-width: 992px) {
  .add-to-cart-button {
    font-size: 1.2vw;
    padding: 2.1vw;
    margin-block-start: 0;
  }
}
