.video-card {
  border-radius: var(--radius-3xl);
  flex: none;
  width: calc(var(--spacing) * 80);
  margin-inline-start: calc(var(--spacing) * -40);
  position: absolute;
  overflow: hidden;
  border: 0.5vw solid var(--color-milk);
}

@media (width >= 48rem) {
  .video-card {
    border-radius: 2vw;
    width: 21.7vw;
    height: 38.7vw;
    margin-inline-start: calc(var(--spacing) * -32);
  }
}

@media (width >= 96rem) {
  .video-card {
    position: relative;
  }
}

.media-cart-info-wrapper {
  z-index: 0;
  color: var(--color-milk);
  justify-content: flex-start;
  align-items: center;
  font-size: 1vw;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: auto auto 1vw 1vw;
}

.avatar {
  outline-offset: 0px;
  border: 2px solid var(--color-milk);
  border-radius: 999px;
  outline: 3px solid var(--color-milk);
  width: 2vw;
  height: 2vw;
  margin-right: 0.5vw;
}

.media-cart-lightbox {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: inline-block;
}

.hover-video-wrapper {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.video {
  width: 102%;
  height: 100%;
  display: flex;

  &.embed-video:before {
    content: ' ';
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }

  &.embed-video:after {
    content: ' ';
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
}

.background-video {
  display: none;
  color: var(--color-secondary);
  height: 500px;
  position: relative;
  overflow: hidden;

  > video {
    object-fit: cover;
    z-index: -100;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    inset: -100%;
  }
}
