.video-card {
  border-radius: var(--radius-3xl);
  flex: none;
  width: calc(var(--spacing) * 80);
  /* margin-inline-start: calc(var(--spacing) * -40); */
  position: absolute;
  overflow: hidden;
  border: 0.4vw solid var(--color-milk);

  z-index: 10;
  outline-offset: 0px;
  outline: 0.4vw #faeade;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

@media (width >= 48rem) {
  .video-card {
    border-radius: 2vw;
    width: 21.7vw;
    height: 38.7vw;
    inset: auto 0% 0% auto;
    /* margin-inline-start: calc(var(--spacing) * -32); */
  }
}

/* @media (width >= 96rem) {
  .video-card {
    position: relative;
  }
} */

.card-1 {
  display: flex;
  bottom: -40vw;
  right: 40vw;
}

.card-2,
.card-3,
.card-4 {
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: -40vw;
  right: 40vw;
}

.card-5,
.card-6 {
  display: flex;
  bottom: -40vw;
  right: 40vw;
}

.card-7 {
  opacity: 1;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  bottom: -40vw;
  right: 40vw;
}

@media screen and (max-width: 991px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7 {
    border-width: 5px;
    border-radius: 16px;
    bottom: -120vw;
    right: 25vw;
  }
}
@media screen and (max-width: 767px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    border-width: 3px;
    bottom: -150vw;
    right: 15vw;
  }
}
@media screen and (max-width: 479px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    display: block;
    bottom: -150vw;
    right: 15vw;
  }

  .card-7 {
    right: 15vw;
  }
}

.media-cart-info-wrapper {
  z-index: 0;
  color: var(--color-milk);
  justify-content: flex-start;
  align-items: center;
  font-size: 1vw;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: auto auto 1vw 1vw;
}

.avatar {
  outline-offset: 0px;
  border: 2px solid var(--color-milk);
  border-radius: 999px;
  outline: 3px solid var(--color-milk);
  width: 2vw;
  height: 2vw;
  margin-right: 0.5vw;
}

.media-cart-lightbox {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: inline-block;
}

.hover-video-wrapper {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.video {
  width: 102%;
  height: 100%;
  display: flex;

  &.embed-video:before {
    content: ' ';
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }

  &.embed-video:after {
    content: ' ';
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
}
