.video-card {
  border-radius: var(--radius-3xl);
  flex: none;
  width: calc(var(--spacing) * 80);
  position: absolute;
  overflow: hidden;
  border: 0.4vw solid var(--color-milk);
  z-index: 10;
  outline-offset: 0px;
  outline: 0.4vw var(--color-milk);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

@media screen and (min-width: 992px) {
  .video-card {
    border-radius: 2vw;
    width: 21.7vw;
    height: 38.7vw;
    inset: auto 0% 0% auto;
  }
}

.card-1,
.card-5,
.card-6 {
  display: block;
  bottom: -140vw;
  right: 10vw;
  border-width: 3px;
  border-radius: 16px;
}

.card-2,
.card-3,
.card-4 {
  justify-content: center;
  align-items: center;
  display: block;
  bottom: -140vw;
  right: 10vw;
  border-width: 3px;
  border-radius: 16px;
}

.card-7 {
  opacity: 1;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  bottom: -140vw;
  right: 10vw;
  border-width: 5px;
  border-radius: 16px;
}

@media screen and (min-width: 480px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    display: flex;
  }

  .card-7 {
    right: 25vw;
    bottom: -60vw;
  }
}

@media screen and (min-width: 768px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    border-width: 5px;
    bottom: -60vw;
    right: 25vw;
  }
}

@media screen and (min-width: 992px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7 {
    border-width: 0.4vw;
    border-radius: 2vw;
    bottom: -30vw;
    right: 40vw;
  }
}

.media-cart-info-wrapper {
  z-index: 0;
  color: var(--color-milk);
  justify-content: flex-start;
  align-items: center;
  font-size: 5vw;
  font-weight: 500;
  line-height: 115%;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: auto auto 6vw 4vw;
}
@media screen and (min-width: 992px) {
  .media-cart-info-wrapper {
    font-size: 1.034vw;
    line-height: 120%;
    inset: auto auto 1vw 1vw;
  }
}

.avatar {
  outline-offset: 0px;
  border: 2px solid var(--color-black);
  border-radius: 999px;
  outline: 3px solid var(--color-milk);
  width: 6vw;
  height: 6vw;
  margin-right: 2.5vw;
}
@media screen and (min-width: 992px) {
  .avatar {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 0.5vw;
  }
}

.media-cart-lightbox {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: inline-block;
}

.hover-video-wrapper {
  width: 100%;
  margin-block: 0;
}

.video {
  width: 102%;
  height: 100%;
  display: flex;

  &::before {
    content: ' ';
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }

  &:after {
    content: ' ';
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
}
