.ingredient-item-wrapper {
  bottom: 14vw;
  left: auto;
  right: 40vw;
  position: absolute;
  height: 0;
  z-index: 2;
}
@media screen and (min-width: 480px) {
  .ingredient-item-wrapper {
    bottom: 32vw;
    right: 8vw;
  }
}
@media screen and (min-width: 992px) {
  .ingredient-item-wrapper {
    bottom: 28vw;
    right: -3vw;
  }
}

.ingredient-item-button {
  z-index: 20;
  gap: 0.6vw;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  z-index: 5;
}

@media screen and (hover: hover) {
  .ingredient-item-button:hover .item-text-wrapper {
    background-color: var(--color-white);
  }
  .ingredient-item-button:hover .item-text {
    color: var(--color-black);
  }
}

.item-icon-wrapper {
  border: 2px solid var(--color-white);
  background-color: var(--color-black);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  padding: 3px;
  display: flex;
  z-index: 5;
}
@media screen and (min-width: 480px) {
  .item-icon-wrapper {
    width: 7.5vw;
    height: 7.5vw;
    padding: 0.4vw;
  }
}

.item-icon-circle {
  background-color: #fcf8f7;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.item-icon-circle.is-1-1 {
  background-color: var(--color-coral);
}
.item-icon-circle.is-1-2 {
  background-color: var(--color-primary);
}
.item-icon-circle.is-1-3 {
  background-color: var(--color-accent-secondary);
}
.item-icon-circle.is-1-4 {
  background-color: var(--color-lavender);
}
.item-icon-circle.is-2-1 {
  background-color: var(--color-sea-salt-dark);
}
.item-icon-circle.is-2-2 {
  background-color: var(--color-eucalyptus-light);
}
.item-icon-circle.is-2-3 {
  background-color: var(--color-yellow-brown);
}
.item-icon-circle.is-2-4 {
  background-color: var(--color-accent);
}

.item-icon {
  /* background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg); */
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
}
.item-icon.is-4 {
  /* background-image: url(https://cdn.prod.website-files.com/672c778…/67528ec…_9612ee1…_item-icon-6.svg); */
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .item-icon {
    width: 3.75vw;
    height: 3.75vw;
  }
}

.item-text-wrapper {
  border: 2px solid var(--color-white);
  background-color: var(--color-black);
  border-radius: 200px;
  padding: 10px 16px;
}
@media screen and (min-width: 480px) {
  .item-text-wrapper {
    padding: 0.75vw 1.5vw;
  }
}
@media screen and (min-width: 992px) {
  .item-text-wrapper {
    padding: 1.5vw 2.5vw;
  }
}

.item-text {
  color: var(--color-white);
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 480px) {
  .item-text {
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 992px) {
  .item-text {
    font-size: 2vw;
  }
}
