.page-grid {
  width: 100vw;
  height: auto;
  overflow: visible;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media screen and (min-width: 992px) {
  .page-grid {
    grid-template-columns: 1fr 1.25fr;
  }
}

.intro-section {
  grid-area: span 1 / span 1 / span 1 / span 1;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  display: none;
}
@media screen and (min-width: 992px) {
  .intro-section {
    display: flex;
  }
}

.intro-start-wrapper {
  z-index: 3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 20%;
}
@media screen and (min-width: 480px) {
  .intro-start-wrapper {
    padding-top: 10%;
  }
}
@media screen and (min-width: 992px) {
  .intro-start-wrapper {
    width: auto;
    padding-top: 0;
  }
}

.intro-heading-wrapper {
  margin-bottom: 2vw;
}
@media screen and (min-width: 992px) {
  .intro-heading-wrapper {
    margin-bottom: 1vw;
  }
}

.heading-text {
  color: var(--color-secondary);
  direction: ltr;
  letter-spacing: -0.35vw;
  text-indent: 0;
  white-space: normal;
  word-break: normal;
  overflow-wrap: normal;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-sans);
  font-weight: 700;
  display: block;
  font-size: 13vw;
  line-height: 120%;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .heading-text {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.clipped-box {
  background-color: var(--color-accent-secondary);
  outline-offset: 0px;
  perspective: none;
  perspective-origin: 0%;
  transform-origin: 0%;
  color: var(--color-black);
  border: 0 solid var(--color-black);
  outline: 0.5vw solid var(--color-accent-secondary);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 24px;
  width: auto;
  opacity: 1;
  padding: 0;
  display: flex;
  position: relative;
  top: auto;
  overflow: hidden;
  transform: rotate(-2deg);
}
@media screen and (min-width: 480px) {
  .clipped-box {
    margin-bottom: 2vw;
  }
}
@media screen and (min-width: 992px) {
  .clipped-box {
    transform: rotate(-3deg);
  }
}

.heading-1 {
  letter-spacing: -0.35vw;
  flex-flow: row;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.2vw 1vw;
  font-family: var(--font-sans);
  font-weight: 700;
  display: flex;
  font-size: 50px;
  line-height: 120%;
}
@media screen and (min-width: 480px) {
  .heading-1.faeade {
    font-size: 50px;
  }
}
@media screen and (min-width: 992px) {
  .heading-1,
  .heading-1.faeade {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.intro-subheading-text {
  letter-spacing: -0.35vw;
  flex-flow: row;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.2vw 1vw;
  font-family: Antonio, sans-serif;
  font-weight: 700;
  line-height: 9vw;
  display: flex;
  color: var(--color-secondary);
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-size: 13vw;
}
@media screen and (min-width: 480px) {
  .intro-subheading-text {
    font-size: 70px;
  }
}
@media screen and (min-width: 768px) {
  .intro-subheading-text {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}
@media screen and (min-width: 992px) {
  .intro-subheading-text {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.intro-end-wrapper {
  padding-bottom: 4vw;
}

.intro-end-heading {
  text-align: center;
  color: var(--color-secondary);
  letter-spacing: -0.15vw;
  text-transform: uppercase;
  width: auto;
  font-family: Antonio, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  position: static;
}
@media screen and (min-width: 768px) {
  .intro-end-heading {
    width: auto;
    font-size: 3vw;
  }
}

.intro-end-content-wrapper {
  margin-top: 4vw;
}

.cards-grid {
  grid-row-gap: 16px;
  grid-column-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.card-1 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.card-number {
  color: var(--color-milk-yellow);
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  line-height: 115%;
}
@media screen and (min-width: 768px) {
  .card-number {
    font-size: 1.5vw;
  }
}

.card-heading {
  color: var(--dark-brown);
  letter-spacing: -0.1vw;
  text-transform: uppercase;
  margin-top: 2vw;
  margin-bottom: 1vw;
  font-family: Antonio, sans-serif;
  font-size: 2vw;
  font-weight: 700;
  line-height: 105%;
  text-align: center;
}

.card-2,
.card-3 {
  grid-area: 1 / 3 / 2 / 4;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.card-3 {
  grid-area: 1 / 5 / 2 / 6;
}

.card-grid-spacer {
  align-self: center;
  opacity: 0.5;
  background-color: var(--color-secondary);
  width: 2px;
  height: 60%;
}

.application-section {
  background-color: var(--color-milk-yellow);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  display: flex;
  overflow: auto;
  padding-top: 100px;
}
@media screen and (min-width: 480px) {
  .application-section {
    padding-top: 120px;
  }
}
@media screen and (min-width: 992px) {
  .application-section {
    border-top-left-radius: 3vw;
    border-bottom-left-radius: 3vw;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    position: static;
    grid-area: auto;
  }
}

.application-content {
  width: 100%;
  overflow: auto;
}

.application-form-wrapper {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 480px) {
  .application-form-wrapper {
    width: 70%;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.onboarding-form {
  grid-gap: 2vw;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: block;
  overflow: visible;
}
@media screen and (min-width: 480px) {
  .onboarding-form {
    overflow: hidden;
  }
}

.form-heading {
  text-align: center;
  color: var(--color-dark-brown);
  letter-spacing: -0.15vw;
  text-transform: uppercase;
  width: auto;
  font-family: Antonio, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 105%;
  position: static;
  margin-bottom: 4vw;
}
@media screen and (min-width: 768px) {
  .form-heading {
    width: auto;
    font-size: 32px;
  }
}
@media screen and (min-width: 992px) {
  .form-heading {
    font-size: 4vw;
    line-height: 100%;
  }
}

.form-fieldset {
  grid-gap: 2vw;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media screen and (min-width: 768px) {
  .form-fieldset {
    grid-gap: 1vw;
  }
}
@media screen and (min-width: 992px) {
  .form-fieldset {
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr;
  }
}

.form-input {
  color: var(--color-dark-brown);
  background-color: var(--color-secondary);
  border: 0 solid var(--color-black);
  border-radius: 100vw;
  height: 52px;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 0;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  line-height: 115%;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 992px) {
  .form-input {
    height: 4vw;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2vw;
    font-size: 1.25vw;
  }
}

.form-textarea {
  grid-area: span 1 / span 1 / span 1 / span 1;
  color: var(--color-dark-brown);
  background-color: var(--color-secondary);
  border: 0 solid var(--color-black);
  border-radius: 20px;
  height: 10vw;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 0;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  line-height: 115%;
  width: 100%;
  display: block;
  padding-top: 1.5vw;
  padding-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .form-textarea {
    border-radius: 3vw;
    padding-left: 2vw;
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 992px) {
  .form-textarea {
    padding-left: 2vw;
    font-size: 1.25vw;
  }
}

.submit-button-wrapper {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 4vw;
}
@media screen and (min-width: 768px) {
  .submit-button-wrapper {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}
