@media screen and (max-width: 991px) {
  .newsletter-signup-wrapper {
    /* grid-area: 2 / 1 / 3 / 4; */
    grid-area: 1 / 3 / 2 / 4;
  }
}

.paragraph {
  color: var(--color-secondary);
  font-weight: 400;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 115%;
}
@media screen and (min-width: 768px) {
  .paragraph {
    font-size: 1.04vw;
  }
}
@media screen and (min-width: 992px) {
  .paragraph {
    font-size: 1.04vw;
  }
}

.footer-form-wrapper {
  margin-top: 3vw;
  position: relative;
  margin: 0 0 15px;
}

.footer-form {
  margin-top: 0.5vw;
  position: relative;
}

.text-field {
  color: var(--color-secondary);
  letter-spacing: -0.1vw;
  background-color: #fff0;
  border: 0 solid #000;
  border-bottom: 0.05vw solid var(--color-secondary);
  height: 4.5vw;
  padding: 0 0 1vw;
  font-family: Antonio, sans-serif;
  font-size: 2.1vw;
  font-weight: 700;
  line-height: 115%;
  width: 100%;
  margin-bottom: 10px;
  display: block;
}
@media screen and (min-width: 480px) {
  .text-field {
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  .text-field {
    height: 4.5vw;
    padding-bottom: 1vw;
    font-size: 2.1vw;
  }
}

.submit-button {
  background-color: #3898ec00;
  background-image: url(/images/form-icon.svg);
  background-position: 50%;
  background-size: auto;
  width: 32px;
  height: 32px;
  margin-top: 0;
  margin-bottom: -50px;
  padding-bottom: 0;
  display: block;
  overflow: hidden;
  color: var(--color-secondary);
  line-height: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  appearance: button;
  position: absolute;
  inset: 25% 0% auto auto;
  margin-right: 0;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .submit-button {
    margin-right: 0;
    right: 24px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .submit-button {
    right: 24px;
    padding-bottom: 3rem;
    bottom: 0;
    margin-bottom: -15px;
    top: -7%;
  }
}
@media screen and (min-width: 992px) {
  .submit-button {
    background-size: auto;
    width: 2vw;
    height: 2vw;
    margin-bottom: -50px;
    margin-right: 0;
    padding: 0;
  }
}

.form-submit-success {
  text-align: center;
  background-color: var(--color-secondary);
  padding: 20px;
  display: none;
}

.form-submit-failure {
  background-color: var(--color-accent);
  margin-top: 10px;
  padding: 10px;
  display: none;
}
