.social-links-wrapper {
  z-index: 5;
  justify-content: center;
  margin-top: 3vw;
  align-items: flex-start;
  display: flex;
  position: relative;
}
@media screen and (min-width: 768px) {
  .social-links-wrapper {
    margin-top: 1.1vw;
  }
}

.social-links-list {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  gap: 2vw;
  margin-block: 3vw;
}
@media screen and (min-width: 768px) {
  .social-links-list {
    margin-block: 1.1vw;
  }
}

.link-block-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-block {
  min-width: 100%;
  border: 0.1vw solid var(--color-secondary);
  border-radius: 100vw;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: var(--color-black);
  transition: all 0.2s;
  display: flex;
}
@media screen and (min-width: 992px) {
  .link-block {
    width: 5vw;
    height: 5vw;
    background-color: initial;
  }
}

.link-block-icon {
  width: 5.2vw;
  height: 5.2vw;
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .link-block-icon {
    width: 2.1vw;
    height: 2.1vw;
  }
}
