.collection-item {
  width: 90%;
  height: auto;
  margin-right: 0;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .collection-item {
    width: auto;
    margin-right: 15vw;
    align-self: center;
  }
}

.collection-item:nth-child(odd) {
  width: 90%;
  transform: rotate(0);
}

@media screen and (min-width: 768px) {
  .collection-item:nth-child(odd) {
    width: auto;
    transform: rotate(-8deg);
  }
}

.collection-item:nth-child(2n) {
  width: 90%;
  margin-right: 0;
  transform: rotate(0);
}

@media screen and (min-width: 768px) {
  .collection-item:nth-child(2n) {
    width: auto;
  }
  .collection-item:nth-child(3) {
    width: auto;
    margin-left: 15vw;
  }
}

.card {
  z-index: 2;
  width: 100vw;
  max-width: 100%;
  height: auto;
  min-height: 100%;
  margin-bottom: 1rem;
  margin-top: 4rem;
  margin-left: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: static;
  transform: rotate(0);
  padding-block: 1.2vw;
  padding-inline: 2rem;
  border-radius: 3vw;
}

@media screen and (min-width: 480px) {
  .card {
    padding-block: 5rem;
    margin-top: 7rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 50vw;
    margin-top: 0;
    margin-bottom: 6vw;
    margin-left: 0;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: 32vw;
    margin-top: 12vw;
    margin-bottom: 10vw;
    margin-left: 0;
    position: relative;
    transform: rotate(0);
  }
}

.card-soap-bar {
  z-index: 4;
  width: 55vw;
  margin-inline: auto;
  position: relative;
  inset: auto 0% 0%;
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .card-soap-bar {
    width: 20vw;
  }
}

.card-additional {
  z-index: 3;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: -5vw 0% 0%;
  opacity: 0;
}
@media screen and (min-width: 992px) {
  .card-additional {
    width: 45vw;
  }
}

.card:hover .card-soap-bar {
  transform: scale(1.2) translateY(-15%) rotate(5deg);
  transition: all 0.3s ease-in-out;
}

.card:hover .card-additional {
  opacity: 1;
  transform: scale(1.1) translateY(-5%);
  transition: all 0.3s ease-in-out;
}

.card-heading {
  z-index: 5;
  color: var(--color-secondary);
  letter-spacing: -0.1vw;
  text-transform: uppercase;
  margin-left: 0;
  font-family: var(--font-sans);
  font-size: 24px;
  font-weight: 700;
  line-height: 105%;
  text-decoration: none;
  bottom: 16px;
  left: 16px;
}

@media screen and (min-width: 768px) {
  .card-heading {
    font-size: 3.1vw;
    bottom: 50px;
    left: 50px;
  }
}

.add-to-cart-wrapper {
  z-index: 5;
  margin-top: 4px;
  pointer-events: auto;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 768px) {
  .add-to-cart-wrapper {
    bottom: 75px;
    right: 50px;
  }
}

.add-to-cart-wrapper:hover {
  cursor: pointer;
}
