.benefits-section {
  z-index: 2;
  background-color: #222123;
  background-image: none;
  width: auto;
  height: auto;
  display: flex;
  position: static;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .benefits-section {
    justify-content: center;
  }
}

.paragraph-text-start {
  color: var(--color-secondary);
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 5vw;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin-block: 50px 0;
  margin-inline: 16px;
  position: static;
  inset: 3vw 0% auto;
}
@media screen and (min-width: 480px) {
  .paragraph-text-start {
    margin-inline: 0;
  }
}
@media screen and (min-width: 768px) {
  .paragraph-text-start {
    font-size: 3.1vw;
    margin-block-start: 5vw;
    line-height: 115%;
  }
}
@media screen and (min-width: 992px) {
  .paragraph-text-start {
    font-size: 1.04vw;
  }
}

.clipped-boxes-wrapper {
  z-index: 3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  margin-block: 50px;
}
@media screen and (min-width: 768px) {
  .clipped-boxes-wrapper {
    width: 65vw;
    margin-block: 150px;
  }
}
@media screen and (min-width: 992px) {
  .clipped-boxes-wrapper {
    width: auto;
  }
}

.wrapper-left {
  order: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.wrapper-right {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.paragraph-text-end {
  color: var(--color-secondary);
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 5vw;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  margin-block: 50px 100px;
  margin-inline: 16px;
  position: static;
  inset: 3vw 0% auto;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .paragraph-text-end {
    font-size: 3.1vw;
    line-height: 105%;
    margin-block: 9vw 2vw;
  }
}
@media screen and (min-width: 992px) {
  .paragraph-text-end {
    font-size: 1.04vw;
    line-height: 115%;
    margin-block: 5vw;
  }
}
