.hero-section {
  z-index: 1;
  width: auto;
  height: 100vh;
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.hero-section-container {
  background-color: transparent;
  background-image: linear-gradient(180deg, #90cfd3 64%, #fcf4e1 100%);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 0;
  backface-visibility: hidden;
  opacity: 0;
  /* transform: translateY(100px); */
}

@media screen and (min-width: 992px) {
  .hero-section-container {
    justify-content: center;
  }
}

.hero-section-content {
  z-index: 3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 20%;
}

@media screen and (min-width: 480px) {
  .hero-section-content {
    padding-top: 10%;
  }
}

@media screen and (min-width: 992px) {
  .hero-section-content {
    padding-top: 0;
  }
}

.letter-animation {
  margin-bottom: 2vw;
}
@media screen and (min-width: 992px) {
  .letter-animation {
    margin-bottom: 1vw;
  }
}

.hero-text {
  color: var(--color-black);
  direction: ltr;
  letter-spacing: -0.35vw;
  text-indent: 0;
  white-space: normal;
  word-break: normal;
  overflow-wrap: normal;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-sans);
  font-weight: 700;
  display: block;
  font-size: 13vw;
  line-height: 120%;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .hero-text {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.clipped-box {
  background-color: var(--color-accent-secondary);
  outline-offset: 0px;
  perspective: none;
  perspective-origin: 0%;
  transform-origin: 0%;
  color: var(--color-dark-brown);
  border: 0 solid var(--color-black);
  outline: 0.5vw solid var(--color-teal-lighter);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 24px;
  width: auto;
  opacity: 1;
  padding: 0;
  display: flex;
  position: relative;
  top: auto;
  overflow: hidden;
  transform: rotate(-2deg);
}

@media screen and (min-width: 480px) {
  .clipped-box {
    margin-bottom: 2vw;
  }
}

@media screen and (min-width: 992px) {
  .clipped-box {
    transform: rotate(-3deg);
  }
}

.heading-1 {
  letter-spacing: -0.35vw;
  flex-flow: row;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding: 0 1.2vw 1vw;
  font-family: var(--font-sans);
  font-weight: 700;
  display: flex;
  font-size: 13vw;
  line-height: 120%;
}

@media screen and (min-width: 992px) {
  .heading-1 {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.paragraph {
  text-align: center;
  font-family:
    Proxima Nova,
    sans-serif;
  font-weight: 400;
  color: var(--color-black);
  margin-block: 0;
  font-size: 16px;
  font-weight: 700;
  width: 80%;
  line-height: 120%;
}

@media screen and (min-width: 992px) {
  .paragraph {
    font-size: 1.04vw;
    width: 28vw;
    line-height: 115%;
  }
}
