.ingredients-section-wrapper {
  background: hsla(178, 20%, 74%, 1);
  min-height: 80dvh;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-top: 24vw;
  padding-inline: 5vw;
}
/* @media screen and (min-width: 768px) {
  .ingredients-section-wrapper {
    min-height: 100dvh;
  }
} */
@media screen and (min-width: 768px) {
  .ingredients-section-wrapper {
    /* justify-content: flex-start; */
    align-items: center;
    flex-flow: column;
    width: auto;
    display: flex;
    /* height: 120vh; */
    padding-top: 12vw;
    /* padding-inline: 0; */
  }
}
@media screen and (min-width: 992px) {
  .ingredients-section-wrapper {
    justify-content: center;
    /* align-items: center; */
    /* flex-flow: column; */
    /* width: auto; */
    /* display: flex; */
    height: 120vh;
    padding-inline: 0;
  }
}

.ingredients-drip-image {
  width: 100%;
  display: block;
  position: absolute;
  inset: 0% 0% auto;
  z-index: 2;
}

.ingredients-section-headings {
  z-index: 2;
  flex-flow: column;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
  position: static;
  margin-top: 24vw;
}

@media screen and (min-width: 480px) {
  .ingredients-section-headings {
    margin-top: 0;
    position: relative;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .ingredients-section-headings {
    margin-top: 15vw;
  }
}

@media screen and (min-width: 992px) {
  .ingredients-section-headings {
    align-self: center;
    margin-top: 0;
    position: absolute;
    inset: 20vw auto auto 2vw;
  }
}

.section-heading {
  letter-spacing: -0.4vw;
  margin: -14.4vw 0 25vw;
  padding-inline: 0;
  font-family: var(--font-sans);
  font-size: 12vw;
  font-weight: 700;
  text-align: left;
  line-height: 110%;
  z-index: 1;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .section-heading {
    font-size: 9vw;
    line-height: normal;
  }
}
@media screen and (min-width: 992px) {
  .section-heading {
    font-size: 7.9vw;
    /* text-align: left;
    line-height: normal; */
  }
}

.clipped-box {
  z-index: 4;
  outline-color: var(--color-milk-yellow);
  top: 0;
  background-color: var(--color-accent);
  outline-offset: 0px;
  perspective-origin: 0%;
  transform-origin: 0%;
  border: 0 solid #000;
  outline: 0.5vw solid var(--color-milk-yellow) !important;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--spacing) * -24);
  place-self: start;
  margin-bottom: -3vw;
  padding: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: rotate(-3deg);
}
@media screen and (min-width: 768px) {
  .clipped-box {
    margin-top: 0;
  }
}

.clipped-heading-text {
  color: var(--color-secondary);
  font-size: 13vw;
  letter-spacing: -0.35vw;
  flex: none;
  font-family: var(--font-sans);
  padding: 0 1.5vw 1vw;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .clipped-heading-text {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.paragraph-text-wrapper {
  z-index: 2;
  position: relative;
  top: 0;
  right: 0;
  margin-top: 24px;
}
@media screen and (min-width: 480px) {
  .paragraph-text-wrapper {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .paragraph-text-wrapper {
    position: absolute;
    inset: 30vw 2vw auto auto;
    max-width: 40vw;
  }
}
@media screen and (min-width: 992px) {
  .paragraph-text-wrapper {
    /* position: absolute; */
    inset: 24vw 2vw auto auto;
    max-width: 20vw;
  }
}

.paragraph-text {
  color: var(--color-dark-brown);
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .paragraph-text {
    font-size: 2.6vw;
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  .paragraph-text {
    font-size: 1.04vw;
    /* text-align: right; */
  }
}

.ingredients-section-image {
  width: 100%;
  object-fit: cover;
  position: absolute;
  inset: auto 0% 0%;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .ingredients-section-image {
    z-index: 1;
    width: 210%;
    left: -60%;
  }
}

@media screen and (min-width: 768px) {
  .ingredients-section-image {
    width: 190%;
    max-width: none;
    left: -50%;
  }
}

@media screen and (min-width: 992px) {
  .ingredients-section-image {
    align-self: center;
    width: 120%;
    max-width: none;
    left: -10%;
    right: 0%;
  }
}
