.ingredients-section-wrapper {
  background: hsla(178, 20%, 74%, 1);

  background: radial-gradient(
    circle,
    hsla(178, 20%, 74%, 1) 02%,
    hsla(180, 18%, 68%, 1) 55%,
    hsla(180, 14%, 62%, 1) 83%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(178, 20%, 74%, 1) 02%,
    hsla(180, 18%, 68%, 1) 55%,
    hsla(180, 14%, 62%, 1) 83%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(178, 20%, 74%, 1) 02%,
    hsla(180, 18%, 68%, 1) 55%,
    hsla(180, 14%, 62%, 1) 83%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B0CAC9", endColorstr="#B0CAC9", GradientType=1 );
  /* flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  display: flex;
  padding-left: 2vw;
  padding-right: 2vw; */
  /* min-height: 100dvh; */
  min-height: 80dvh;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-top: 24vw;
  padding-inline: 5vw;
}

/* .ingredients-section-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 55%;
  background: linear-gradient(to bottom, #c3ddd8 0%, transparent 20%);
  pointer-events: none;
  z-index: 1;
} */

@media screen and (min-width: 480px) {
  .ingredients-section-wrapper {
    min-height: 50dvh;
  }
}

@media screen and (min-width: 768px) {
  .ingredients-section-wrapper {
    padding-inline: 5%;
  }
}

@media screen and (min-width: 992px) {
  .ingredients-section-wrapper {
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
    width: auto;
    display: flex;
    height: 120vh;
    padding-left: 0;
    padding-right: 0;
  }
}

/* @media (width >= 80rem) {
  .ingredients-section-wrapper {
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 120vh;
    display: flex;
    flex-flow: column;
  }
} */

.ingredients-drip-image {
  width: 100%;
  display: block;
  position: absolute;
  inset: 0% 0% auto;
}

.ingredients-section-headings {
  z-index: 2;
  flex-flow: column;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
  position: static;
  margin-top: 24vw;
}

@media screen and (min-width: 480px) {
  .ingredients-section-headings {
    margin-top: 0;
    position: relative;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .ingredients-section-headings {
    margin-top: 15vw;
  }
}

@media screen and (min-width: 992px) {
  .ingredients-section-headings {
    align-self: center;
    margin-top: 0;
    position: absolute;
    inset: 20vw auto auto 2vw;
  }
}

.section-heading {
  letter-spacing: -0.4vw;
  margin-top: -1.4vw;
  padding-inline: 0;
  font-family: var(--font-sans);
  font-size: 12vw;
  font-weight: 700;
  text-align: center;
  line-height: 110%;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .section-heading {
    font-size: 7.9vw;
    text-align: left;
    line-height: normal;
  }
}

.clipped-box {
  z-index: 4;
  outline-color: var(--color-milk-yellow);
  top: 0;
  background-color: var(--color-accent);
  outline-offset: 0px;
  perspective-origin: 0%;
  transform-origin: 0%;
  border: 0 solid #000;
  outline: 0.5vw solid var(--color-milk-yellow) !important;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--spacing) * -24);
  place-self: start;
  margin-bottom: -3vw;
  padding: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  transform: rotate(-3deg);
}

@media screen and (min-width: 768px) {
  .clipped-box {
    margin-top: 0;
  }
}

.clipped-heading-text {
  color: var(--color-secondary);
  font-size: 13vw;
  letter-spacing: -0.35vw;
  flex: none;
  font-family: var(--font-sans);
  padding: 0 1.5vw 1vw;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .clipped-heading-text {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.paragraph-text-wrapper {
  z-index: 2;
  position: relative;
  top: 0;
  right: 0;
  margin-top: 24px;
}

@media screen and (min-width: 480px) {
  .paragraph-text-wrapper {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .paragraph-text-wrapper {
    position: static;
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .paragraph-text-wrapper {
    position: absolute;
    inset: 24vw 2vw auto auto;
    max-width: 20vw;
  }
}

.paragraph-text {
  color: var(--color-dark-brown);
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .paragraph-text {
    font-size: 1.04vw;
    text-align: right;
  }
}

.ingredients-section-image {
  width: 100%;
  object-fit: cover;
  position: absolute;
  inset: auto 0% 0%;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .ingredients-section-image {
    z-index: 1;
    width: 210%;
    left: -60%;
  }
}

@media screen and (min-width: 768px) {
  .ingredients-section-image {
    width: 190%;
    max-width: none;
    left: -50%;
  }
}

@media screen and (min-width: 992px) {
  .ingredients-section-image {
    align-self: center;
    width: 120%;
    max-width: none;
    left: -10%;
    right: 0%;
  }
}
