.map-section-wrapper {
  z-index: 10;
  background-color: var(--color-black);
  width: 100%;
  padding-top: 2vw;
  display: block;
  overflow: hidden; /* Default state for mobile first */
}
@media screen and (min-width: 992px) {
  .map-section-wrapper {
    overflow: visible;
  }
}

.map-section-inner {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
  height: 400px; /* Mobile first */
}
@media screen and (min-width: 768px) {
  .map-section-inner {
    height: auto;
  }
}

.map-section-info {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  position: absolute;
}
@media screen and (min-width: 480px) {
  .map-section-info {
    margin-left: 5vw;
    margin-right: 0;
  }
}

.heading-wrapper {
  z-index: 3;
  outline-offset: 0px;
  color: #faeade;
  text-align: center;
  text-transform: uppercase;
  background-color: #c88e6400;
  border: 0 solid #000;
  outline: 0.5vw #3b393d;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 1.2vw 2vw;
  font-size: 7.8vw;
  font-weight: 500;
  line-height: 9vw;
  display: inline-block;
  position: relative;
  top: auto;
}

.heading-text {
  letter-spacing: -0.35vw;
  font-family: Antonio, sans-serif;
  font-weight: 700;
  font-size: 13vw; /* Mobile first */
}
@media screen and (min-width: 480px) {
  .heading-text {
    font-size: 12vw;
    line-height: 110%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .heading-text {
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.clipped-text-box {
  transform-origin: 50%;
  color: var(--dark-brown);
  background-color: #e9aa56;
  justify-content: flex-start;
  align-items: center;
  margin-top: -2vw;
  margin-bottom: 0;
  margin-left: 1vw;
  padding: 0;
  display: flex;
  overflow: hidden;
  transform: rotate(3deg);
  z-index: 3;
  outline-offset: 0px;
  text-align: center;
  text-transform: uppercase;
  border: 0 solid #000;
  outline: 0.5vw #3b393d;
  /* font-size: 7.8vw; */
  font-weight: 500;
  line-height: 105%;
  position: relative;
  top: -1vw;
}

.clipped-text {
  letter-spacing: -0.35vw;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  flex: none;
  padding: 0 1.2vw 1vw;
  font-family: Antonio, sans-serif;
  font-weight: 700;
  font-size: 13vw;
}
@media screen and (min-width: 480px) {
  .clipped-text {
    font-size: 7.9vw;
    line-height: 110%;
  }
}
/* @media screen and (min-width: 768px) {
  .clipped-text {
    font-size: 13vw;
    line-height: 9vw;
  }
} */

.paragraph-text-wrapper {
  margin-top: 2vw;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 480px) {
  .paragraph-text-wrapper {
    padding-left: 1.2vw;
  }
}

.paragraph-text {
  color: var(--color-secondary);
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 115%;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .paragraph-text {
    width: 80%;
  }
}
@media screen and (min-width: 768px) {
  .paragraph-text {
    width: 17vw;
    font-size: 1.04vw;
  }
}
@media screen and (min-width: 992px) {
  .paragraph-text {
    font-size: 1.04vw;
  }
}

.background-image {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .background-image {
    max-width: 100%;
    height: auto;
  }
}
