.effect-wrapper {
  background-color: var(--color-black);
  margin-bottom: -100vh;
  display: none;
}
@media screen and (min-width: 768px) {
  .effect-wrapper {
    display: block;
  }
}

.effect-wrapper-inner {
  z-index: 5;
  background-color: var(--color-black);
  width: 100%;
  /* height: 200vh; */
  height: 150vh;
  position: relative;
  overflow: hidden;
}

.cursor-wrapper {
  z-index: 5;
  background-color: var(--color-black);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: sticky;
  inset: 0% auto auto 0;
  top: 0;
}
@media screen and (min-width: 992px) {
  .cursor-wrapper {
    top: auto;
  }
}

.cursor {
  z-index: 6;
  background-color: var(--color-black);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  display: flex;
  position: absolute;
  /* overflow: hidden; */
}

.cursor-image {
  z-index: 7;
  background-image: none;
  background-size: auto;
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: auto;
  display: flex;
}

.cursor-image-mobile {
  z-index: 3;
  display: flex;
  position: sticky;
  top: 0;
}

@media screen and (min-width: 768px) {
  .cursor-image-mobile {
    display: none;
  }
}

.lightbox-link {
  z-index: 6;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  position: absolute;
  inset: 0;
}

.chug-club-lightbox-button {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 0;
}
@media screen and (max-width: 479px) {
  /* Should only be mobile-first, so adjust defaults,
     for smallest screens, override position to absolute */
  .chug-club-lightbox-button {
    position: absolute;
  }
}
@media screen and (min-width: 480px) {
  .chug-club-lightbox-button {
    position: relative;
  }
}

.lightbox-button-image {
  flex: none;
  width: 30vw;
  height: 30vw;
  max-width: none;
  position: static;
  inset: 0%;
}
@media screen and (min-width: 480px) {
  .lightbox-button-image {
    width: 15vw;
    height: 15vw;
  }
}

.lightbox-static-image-wrapper {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #ffffff1a;
  border-radius: 50vw;
  justify-content: center;
  align-items: center;
  width: 18vw;
  height: 18vw;
  display: flex;
  position: absolute;
}
@media screen and (min-width: 480px) {
  .lightbox-static-image-wrapper {
    width: 9vw;
    height: 9vw;
  }
}

.lightbox-static-image {
  width: 3vw;
  max-width: none;
  height: 3vw;
  margin-left: 0.5vw;
}

.background-video-wrapper {
  z-index: 4;
  height: 100%;
  color: var(--color-secondary);
  overflow: hidden;
}
.background-video-wrapper > video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  inset: -100%;
}
