.statement-section {
  background-color: var(--color-dark-brown);
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: auto;
  height: auto;
  display: flex;
  padding-block: 60px;
}

@media screen and (min-width: 480px) {
  .statement-section {
    padding-block: 120px;
  }
}
@media screen and (min-width: 768px) {
  .statement-section {
    padding-block: 150px;
    height: 100vh;
  }
}

.heading-text-wrapper {
  margin-bottom: 6vw;
}
@media screen and (min-width: 768px) {
  .heading-text-wrapper {
    margin-bottom: 0;
  }
}

.heading-text {
  color: var(--color-secondary);
  text-align: left;
  letter-spacing: -0.03vw;
  text-transform: uppercase;
  font-family: Antonio, sans-serif;
  font-size: 13vw;
  font-weight: 700;
  line-height: 105%;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .heading-text {
    font-size: 11vw;
  }
}
@media screen and (min-width: 768px) {
  .heading-text {
    font-size: 7.8vw;
  }
}
@media screen and (min-width: 992px) {
  .heading-text {
    font-size: 80px;
  }
}

.brand-core-cards {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 0;
  flex-flow: column;

  .card-1 {
    flex: none;
    align-items: center;
    width: 90vw;
    height: auto;
    margin-left: 0;
    padding: 24px 16px;
    position: static;
    transform: rotate(1deg);
    outline-width: 4px;
    inset: 0% auto auto 7vw;
  }

  .card-2 {
    flex: none;
    align-items: center;
    width: 90vw;
    height: auto;
    position: relative;
    bottom: 1vw;
    padding: 24px 16px;
    transform: rotate(-2deg);
    outline-width: 4px;
  }

  .card-3 {
    flex: none;
    align-items: center;
    width: 90vw;
    height: auto;
    margin-right: 0;
    position: static;
    padding: 24px 16px;
    top: auto;
    right: auto;
    transform: rotate(4deg);
    outline-width: 4px;
  }
}
@media screen and (min-width: 480px) {
  .brand-core-cards {
    .card-1 {
      width: 80vw;
      padding-block: 24px;
    }

    .card-2 {
      width: 80vw;
      padding-block: 24px;
      transform: rotate(-2deg);
    }

    .card-3 {
      width: 80vw;
      padding-block: 24px;
    }
  }
}
@media screen and (min-width: 768px) {
  .brand-core-cards {
    flex-flow: row;

    .card-1 {
      position: absolute;
      inset: 0% auto auto 7vw;
      transform: rotate(5deg);
      outline-width: 0.4vw;
      width: auto;
      height: 21vw;
      padding-inline: 4vw;
      margin-left: 0;
    }

    .card-2 {
      outline-width: 0.4vw;
      width: auto;
      height: 21vw;
      padding: 0;
      transform: rotate(-5deg);
    }

    .card-3 {
      outline-width: 0.4vw;
      width: auto;
      position: absolute;
      top: 0;
      right: 7vw;
      transform: rotate(4deg);
      padding: 0;
    }
  }
}
@media screen and (min-width: 992px) {
  .brand-core-cards {
    margin-top: 60px;

    .card-1 {
      height: 21vw;
    }

    .card-2 {
      height: 21vw;
    }

    .card-3 {
      height: 21vw;
    }

    .card-1,
    .card-2,
    .card-3 {
      height: 21vw;
    }
  }
}

.button-wrapper {
  align-self: center;
}
