.contact-form-wrapper {
  background-color: var(--color-milk-yellow);
  border-radius: 2vw;
  align-self: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-block: 50px;
  padding-inline: 3vw;
}
@media screen and (min-width: 480px) {
  .contact-form-wrapper {
    border-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    padding-block: 3vw;
  }
}
@media screen and (min-width: 992px) {
  .contact-form-wrapper {
    border-radius: 2vw;
  }
}

.contact-form-heading-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.contact-form-heading {
  color: var(--color-dark-brown);
  text-align: center;
  letter-spacing: -0.15vw;
  text-transform: uppercase;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Antonio, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  position: static;
}

@media screen and (min-width: 768px) {
  .contact-form-heading {
    font-size: 3vw;
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  .contact-form-heading {
    font-size: 3vw;
  }
}

.social-button-links {
  color: var(--color-black);
  text-align: center;
  margin-left: 1vw;
  margin-right: 1vw;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 1.1vw;
  line-height: 115%;
  text-decoration: none;
  position: static;
  inset: 0% 0% auto;
}

.contact-form-grid {
  margin-block-start: 3vw;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (min-width: 480px) {
  .contact-form-grid {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }
}

.form-input {
  color: #523122;
  background-color: #f8e4d5;
  border: 0 solid #000;
  border-radius: 100vw;
  height: 52px;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 0;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  line-height: 115%;
  width: 100%;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 480px) {
  .form-input {
    height: 4vw;
    padding-top: initial;
    padding-bottom: initial;
    padding-left: 2vw;
    font-size: 1.25vw;
  }
}

@media screen and (min-width: 992px) {
  .form-input {
    height: 4vw;
    padding-top: initial;
    padding-bottom: initial;
    padding-left: 2vw;
    font-size: 1.25vw;
  }
}

.form-select {
  background-image: url(https://cdn.prod.website-files.com/669a8d6…/66f125a…_Drop_Icon.svg);
  background-position: 96%;
  background-repeat: no-repeat;
  background-size: auto;
  color: #523122;
  background-color: #f8e4d5;
  border: 0 solid #000;
  border-radius: 100vw;
  height: 52px;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 0;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  line-height: 115%;
  display: block;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 480px) {
  .form-select {
    background-position: 92%;
    padding-block: initial;
    padding-left: 2vw;
    height: 4vw;
    font-size: 1.25vw;
  }
}

@media screen and (min-width: 992px) {
  .form-select {
    height: 4vw;
    padding-top: initial;
    padding-bottom: initial;
    padding-left: 2vw;
    font-size: 1.25vw;
  }
}

.form-textarea {
  grid-area: span 1 / span 1 / span 1 / span 1;
  color: #523122;
  background-color: #f8e4d5;
  border: 0 solid #000;
  border-radius: 20px;
  height: 10vw;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 0;
  font-family:
    Proxima Nova,
    sans-serif;
  font-size: 16px;
  line-height: 115%;
  width: 100%;
  display: block;
  padding-top: 1.5vw;
  padding-bottom: 16px;
}
@media screen and (min-width: 480px) {
  .form-textarea {
    grid-area: span 1 / span 2 / span 1 / span 2;
    border-radius: 3vw;
    padding-left: 2vw;
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 992px) {
  .form-textarea {
    padding-left: 2vw;
    font-size: 1.25vw;
  }
}

.form-button-wrapper {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

@media screen and (min-width: 480px) {
  .form-button-wrapper {
    grid-area: span 1 / span 2 / span 1 / span 2;
    place-self: center;
  }
}
