.contact-header-wrapper {
  place-self: center start;
  justify-self: center;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 992px) {
  .contact-header-wrapper {
    justify-self: unset;
    padding-left: unset;
    padding-right: unset;
  }
}

.heading-1 {
  flex: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;
  font-size: 13vw;
  line-height: 120%;
  letter-spacing: -0.15vw;
  word-break: normal;
  flex-flow: row;
  margin-top: -1vw;
  display: flex;
  color: var(--color-secondary);
  padding: 0 1.2vw 1vw 0;
  margin-left: 0;
  font-family: Antonio, sans-serif;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .heading-1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 768px) {
  .heading-1 {
    font-size: 50px;
    max-width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .heading-1 {
    flex: unset;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    font-size: 7.8vw;
    line-height: 9vw;
  }
}

.heading-paragraph {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin-top: 2vw;
  color: var(--color-secondary);
  font-family:
    Proxima Nova,
    sans-serif;
  font-weight: 400;
  line-height: 115%;
}
@media screen and (min-width: 768px) {
  .heading-paragraph {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .heading-paragraph {
    text-align: unset;
    width: 25vw;
    margin-left: unset;
    margin-right: unset;
    font-size: 1.04vw;
  }
}
